<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.SimpleLayout" />
	</appender>
	<appender name="ramsesfile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${ramses.log.path}Selenium\\ramsesSelenium.log" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="7" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p] -  [%d{dd MMM yyyy HH:mm:ss,SSS}] - [%c{1}] - %m%n" />
		</layout>
	</appender>
	<appender name="sysoutfile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${ramses.log.path}Selenium\\sysout.log" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="7" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p] -  [%d{dd MMM yyyy HH:mm:ss,SSS}] - [%c{1}] - %m%n" />
		</layout>
	</appender>
	<appender name="mailer" class="org.apache.log4j.net.SMTPAppender">
		<param name="BufferSize" value="512" />
		<param name="SMTPHost" value="${mail.smtp.host}" />
		<param name="From" value="${email.sender.address}" />
		<param name="To" value="${email.support.address}" />
		<param name="Subject" value="[${ramses.environment}] - Selenium Error" />
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="ConversionPattern"
		    value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
		  <param name="LevelMin" value="error" />
		  <param name="LevelMax" value="fatal" />
		</filter>
	</appender>
	<logger name="com.saintgobain.ramses.selenium" additivity="false">
		<level value="${ramses.log.level}" />
		<appender-ref ref="console" />
		<appender-ref ref="ramsesfile" />
		<appender-ref ref="mailer"/>
	</logger>
	<logger name="chrono" additivity="false">
		<level value="${ramses.log.level}" />
		<appender-ref ref="console" />
	</logger>
	<root>
		<priority value="${ramses.log.level}"></priority>
		<appender-ref ref="console" />
		<appender-ref ref="sysoutfile" />
	</root>
</log4j:configuration>